/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: calc(100vh - 1px);
}

.flex-item-1 {
    padding: 30px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
}

.section1-wrapper {
    max-width: 200px;
    text-align: center;
    
}

.flex-item-2 {
    padding: 30px;
    border-bottom-right-radius: 30px;
}

.section1-title {
    color: hsl(241, 100%, 89%);
    font-size: 1rem;
    margin-bottom: 25px;
}

.points-scored {
    color: hsl(221, 100%, 96%);
    font-weight: 800;
    font-size: 3rem;
    padding-top: 30px;
    
}

.possible-points {
    color: hsla(241, 100%, 89%, .5);
    font-size: .8rem;
}

.score-wrapper {
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 0 auto 25px;
}

.great {
    color: hsl(221, 100%, 96%);
    line-height: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.section1-p {
    color: hsla(241, 100%, 89%, .9);
    font-size: .8rem;
}

.section2.title {
    font-weight: bold;
}

.section2-title {
    font-size: 1.2rem;
}

table { 
    border-collapse: separate; 
    border-spacing: 0 15px; 
    margin-top: 7px; /* correct offset on first border spacing if desired */
    margin-bottom: 15px;
}
td {
    border-style: none;
    padding: 10px;
    vertical-align: middle;
}
td:first-child {
    
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px;
}
td:last-child {
    
    border-bottom-right-radius: 8px; 
    border-top-right-radius: 8px; 
}

.reaction-row {
    background-color: hsla(0, 100%, 67%, .1);
    margin: 10px;
}

.reaction-text {
    color: hsla(0, 100%, 67%, .9);
    font-weight: 700;
    font-size: 1rem;
    padding-right: 60px;
}

.memory-row {
    background-color: hsla(39, 100%, 56%, .1);
}

.memory-text {
    color: hsla(39, 100%, 56%, .9);
    font-weight: 700;
    font-size: 1rem;
}

.verbal-row {
    background-color: hsla(166, 100%, 37%, .1);
}

.verbal-text {
    color: hsla(166, 100%, 37%, .9);
    font-weight: 700;
    font-size: 1rem;
}

.visual-row {
    background-color: hsla(234, 85%, 45%, .1);
}

.visual-text {
    color: hsla(234, 85%, 45%, .9);
    font-weight: 700;
    font-size: 1rem;
}

.favicon-icon {
    margin: 0 5px;
    width: 15px;
    height: 15px;
}

.summary-points-obtained {
    font-weight: 800;
}

.summary-possible-points {
    color: gray;
    font-weight: 700;
}

button {
    color: white;
    background-color: hsl(224, 30%, 27%);
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border-radius: 40px;
}

@media screen and (max-width: 380px) {
    
    body {
        margin: 0;
        padding: 0;
    }

    .flex-box {
        display: inline;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .flex-item-1 {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .attribution {
        display: none;;
    }

    .section1-wrapper {
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
        
    }

    .reaction-text {
        color: hsla(0, 100%, 67%, .9);
        font-weight: 700;
        font-size: 1rem;
        padding-right: 8rem;
    }

}